* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 3px solid rgb(46, 45, 45);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    

}


#player {
   display: none; 
}

